In [1]:
import nltk
import pandas as pd
from nltk.tokenize import sent_tokenize,word_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
from nltk.stem import PorterStemmer

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\arjun\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
df = pd.read_csv("train.csv")

In [4]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
df["tokenized"] = df["text"]
df = df.apply(lambda x: x.str.lower() if x.dtype == "object" else x) 
df["tokenized"] = df['tokenized'].str.replace('[^\w\s]','')

In [6]:
df["tokenized"] = df["tokenized"].apply(word_tokenize)
df["tokenized"].head()

0    [our, deeds, are, the, reason, of, this, earth...
1        [forest, fire, near, la, ronge, sask, canada]
2    [all, residents, asked, to, shelter, in, place...
3    [13000, people, receive, wildfires, evacuation...
4    [just, got, sent, this, photo, from, ruby, ala...
Name: tokenized, dtype: object

In [7]:
df.head()

,id,keyword,location,text,target,tokenized
0,1,NaN,NaN,our deeds are the reason of this #earthquake m...,1,"[our, deeds, are, the, reason, of, this, earth..."
1,4,NaN,NaN,forest fire near la ronge sask. canada,1,"[forest, fire, near, la, ronge, sask, canada]"
2,5,NaN,NaN,all residents asked to 'shelter in place' are ...,1,"[all, residents, asked, to, shelter, in, place..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"[13000, people, receive, wildfires, evacuation..."
4,7,NaN,NaN,just got sent this photo from ruby #alaska as ...,1,"[just, got, sent, this, photo, from, ruby, ala..."

In [8]:
df

,id,keyword,location,text,target,tokenized
0,1,NaN,NaN,our deeds are the reason of this #earthquake m...,1,"[our, deeds, are, the, reason, of, this, earth..."
1,4,NaN,NaN,forest fire near la ronge sask. canada,1,"[forest, fire, near, la, ronge, sask, canada]"
2,5,NaN,NaN,all residents asked to 'shelter in place' are ...,1,"[all, residents, asked, to, shelter, in, place..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"[13000, people, receive, wildfires, evacuation..."
4,7,NaN,NaN,just got sent this photo from ruby #alaska as ...,1,"[just, got, sent, this, photo, from, ruby, ala..."
...,...,...,...,...,...,...
7608,10869,NaN,NaN,two giant cranes holding a bridge collapse int...,1,"[two, giant, cranes, holding, a, bridge, colla..."
7609,10870,NaN,NaN,@aria_ahrary @thetawniest the out of control w...,1,"[aria_ahrary, thetawniest, the, out, of, contr..."
7610,10871,NaN,NaN,m1.94 [01:04 utc]?5km s of volcano hawaii. htt...,1,"[m194, 0104, utc5km, s, of, volcano, hawaii, h..."
7611,10872,NaN,NaN,police investigating after an e-bike collided ...,1,"[police, investigating, after, an, ebike, coll..."
7612,10873,NaN,NaN,the latest: more homes razed by northern calif...,1,"[the, latest, more, homes, razed, by, northern..."

In [9]:
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
df["tokenized"] = df["tokenized"].apply(lambda words: [word for word in words if word not in stop_words])

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\arjun\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [10]:
df.head()

,id,keyword,location,text,target,tokenized
0,1,NaN,NaN,our deeds are the reason of this #earthquake m...,1,"[deeds, reason, earthquake, may, allah, forgiv..."
1,4,NaN,NaN,forest fire near la ronge sask. canada,1,"[forest, fire, near, la, ronge, sask, canada]"
2,5,NaN,NaN,all residents asked to 'shelter in place' are ...,1,"[residents, asked, shelter, place, notified, o..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"[13000, people, receive, wildfires, evacuation..."
4,7,NaN,NaN,just got sent this photo from ruby #alaska as ...,1,"[got, sent, photo, ruby, alaska, smoke, wildfi..."

In [11]:
stemmer = PorterStemmer()
df['stemmed'] = df['tokenized'].apply(lambda x: [stemmer.stem(y) for y in x])

In [12]:
df.head()

,id,keyword,location,text,target,tokenized,stemmed
0,1,NaN,NaN,our deeds are the reason of this #earthquake m...,1,"[deeds, reason, earthquake, may, allah, forgiv...","[deed, reason, earthquak, may, allah, forgiv, us]"
1,4,NaN,NaN,forest fire near la ronge sask. canada,1,"[forest, fire, near, la, ronge, sask, canada]","[forest, fire, near, la, rong, sask, canada]"
2,5,NaN,NaN,all residents asked to 'shelter in place' are ...,1,"[residents, asked, shelter, place, notified, o...","[resid, ask, shelter, place, notifi, offic, ev..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"[13000, people, receive, wildfires, evacuation...","[13000, peopl, receiv, wildfir, evacu, order, ..."
4,7,NaN,NaN,just got sent this photo from ruby #alaska as ...,1,"[got, sent, photo, ruby, alaska, smoke, wildfi...","[got, sent, photo, rubi, alaska, smoke, wildfi..."

In [13]:
pos_index = {}
document = df["stemmed"]
print(type(document))

<class 'pandas.core.series.Series'>

In [14]:
my_dict = pd.Series(df.stemmed.values,index=df.id).to_dict()

In [15]:
my_dict[1]

['deed', 'reason', 'earthquak', 'may', 'allah', 'forgiv', 'us']

In [16]:
pos_ind = {}
fileno = 0
for key in my_dict:
    for i in range(len(my_dict[key])):
        term = my_dict[key][i]
        if term in pos_ind:
            pos_ind[term][0] = pos_ind[term][0] + 1
            if fileno in pos_ind[term][1]:
                pos_ind[term][1][fileno].append(key)
            else:
                pos_ind[term][1][fileno] = [key]
        else:
            pos_ind[term] = []
            pos_ind[term].append(1)
            pos_ind[term].append({}) 
            pos_ind[term][1][fileno] = [key]
        fileno += 1

In [24]:
print(pos_ind["us"])

[164, {6: [1], 258: [62], 679: [121], 2282: [349], 2320: [355], 2336: [356], 2362: [360], 2429: [370], 2522: [384], 2550: [389], 2566: [393], 2582: [394], 2692: [413], 3253: [484], 4356: [659], 4488: [677], 4503: [680], 4944: [739], 6190: [903], 6212: [905], 6688: [983], 8000: [1206], 8182: [1237], 8991: [1368], 10069: [1501], 10665: [1585], 10692: [1590], 10701: [1590], 10876: [1609], 10962: [1621], 11283: [1666], 11668: [1718], 11949: [1759], 12839: [1883], 14254: [2074], 14698: [2141], 14902: [2172], 14947: [2177], 16149: [2349], 16219: [2358], 16350: [2375], 16352: [2375], 16623: [2417], 16848: [2453], 16850: [2453], 17347: [2505], 19631: [2853], 20345: [2947], 20379: [2952], 21166: [3072], 21290: [3089], 22043: [3181], 22462: [3241], 22593: [3260], 23579: [3411], 23722: [3428], 25602: [3669], 25604: [3669], 26374: [3775], 28182: [4052], 28558: [4100], 28563: [4101], 28582: [4104], 28594: [4105], 28770: [4133], 28851: [4145], 28928: [4154], 28932: [4154], 29490: [4246], 30091: [4328], 30595: [4388], 30741: [4413], 30787: [4425], 30887: [4442], 33159: [4739], 33206: [4745], 33781: [4823], 35578: [5056], 35724: [5073], 35980: [5105], 36592: [5182], 36999: [5234], 37463: [5305], 38359: [5439], 38472: [5454], 38725: [5489], 39953: [5635], 40073: [5654], 40726: [5732], 40990: [5769], 41005: [5772], 41015: [5775], 41060: [5780], 42192: [5932], 42442: [5962], 42745: [6004], 42768: [6009], 43019: [6049], 43284: [6084], 44873: [6311], 46402: [6514], 46973: [6588], 47380: [6636], 48465: [6802], 49642: [6960], 49821: [6984], 50506: [7104], 50510: [7104], 50522: [7105], 50566: [7111], 50814: [7141], 51167: [7198], 51533: [7252], 51549: [7253], 51629: [7266], 51922: [7302], 51926: [7306], 51954: [7309], 52007: [7316], 52095: [7328], 52123: [7331], 52213: [7343], 52311: [7355], 52592: [7407], 52594: [7407], 52815: [7446], 56060: [7897], 56317: [7933], 56974: [8026], 57463: [8100], 57664: [8130], 58669: [8264], 60088: [8510], 60459: [8582], 63108: [8985], 63722: [9079], 65045: [9242], 65924: [9375], 66165: [9411], 69134: [9857], 69139: [9857], 69144: [9857], 69747: [9961], 69763: [9963], 69932: [9991], 69952: [9994], 70018: [10004], 70706: [10088], 70889: [10116], 71435: [10193], 71440: [10193], 71982: [10265], 72106: [10286], 72263: [10304], 72575: [10344], 72607: [10349], 72654: [10358], 73034: [10405], 73046: [10405], 73412: [10451], 73477: [10462], 73570: [10478], 73793: [10506], 75303: [10707]}]