In [85]:
import nltk
import pandas as pd
from nltk.tokenize import sent_tokenize,word_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
from nltk.stem import PorterStemmer

In [86]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\arjun\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [87]:
df = pd.read_csv("train.csv")

In [88]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [89]:
df["tokenized"] = df["text"]
df = df.apply(lambda x: x.str.lower() if x.dtype == "object" else x) 
df["tokenized"] = df['tokenized'].str.replace('[^\w\s]','')

In [90]:
df["tokenized"] = df["tokenized"].apply(word_tokenize)
df["tokenized"].head()

0    [our, deeds, are, the, reason, of, this, earth...
1        [forest, fire, near, la, ronge, sask, canada]
2    [all, residents, asked, to, shelter, in, place...
3    [13000, people, receive, wildfires, evacuation...
4    [just, got, sent, this, photo, from, ruby, ala...
Name: tokenized, dtype: object

In [91]:
df.head()

,id,keyword,location,text,target,tokenized
0,1,NaN,NaN,our deeds are the reason of this #earthquake m...,1,"[our, deeds, are, the, reason, of, this, earth..."
1,4,NaN,NaN,forest fire near la ronge sask. canada,1,"[forest, fire, near, la, ronge, sask, canada]"
2,5,NaN,NaN,all residents asked to 'shelter in place' are ...,1,"[all, residents, asked, to, shelter, in, place..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"[13000, people, receive, wildfires, evacuation..."
4,7,NaN,NaN,just got sent this photo from ruby #alaska as ...,1,"[just, got, sent, this, photo, from, ruby, ala..."

In [92]:
df

,id,keyword,location,text,target,tokenized
0,1,NaN,NaN,our deeds are the reason of this #earthquake m...,1,"[our, deeds, are, the, reason, of, this, earth..."
1,4,NaN,NaN,forest fire near la ronge sask. canada,1,"[forest, fire, near, la, ronge, sask, canada]"
2,5,NaN,NaN,all residents asked to 'shelter in place' are ...,1,"[all, residents, asked, to, shelter, in, place..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"[13000, people, receive, wildfires, evacuation..."
4,7,NaN,NaN,just got sent this photo from ruby #alaska as ...,1,"[just, got, sent, this, photo, from, ruby, ala..."
...,...,...,...,...,...,...
7608,10869,NaN,NaN,two giant cranes holding a bridge collapse int...,1,"[two, giant, cranes, holding, a, bridge, colla..."
7609,10870,NaN,NaN,@aria_ahrary @thetawniest the out of control w...,1,"[aria_ahrary, thetawniest, the, out, of, contr..."
7610,10871,NaN,NaN,m1.94 [01:04 utc]?5km s of volcano hawaii. htt...,1,"[m194, 0104, utc5km, s, of, volcano, hawaii, h..."
7611,10872,NaN,NaN,police investigating after an e-bike collided ...,1,"[police, investigating, after, an, ebike, coll..."
7612,10873,NaN,NaN,the latest: more homes razed by northern calif...,1,"[the, latest, more, homes, razed, by, northern..."

In [93]:
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
df["tokenized"] = df["tokenized"].apply(lambda words: [word for word in words if word not in stop_words])

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\arjun\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [94]:
df.head()

,id,keyword,location,text,target,tokenized
0,1,NaN,NaN,our deeds are the reason of this #earthquake m...,1,"[deeds, reason, earthquake, may, allah, forgiv..."
1,4,NaN,NaN,forest fire near la ronge sask. canada,1,"[forest, fire, near, la, ronge, sask, canada]"
2,5,NaN,NaN,all residents asked to 'shelter in place' are ...,1,"[residents, asked, shelter, place, notified, o..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"[13000, people, receive, wildfires, evacuation..."
4,7,NaN,NaN,just got sent this photo from ruby #alaska as ...,1,"[got, sent, photo, ruby, alaska, smoke, wildfi..."

In [95]:
stemmer = PorterStemmer()
df['stemmed'] = df['tokenized'].apply(lambda x: [stemmer.stem(y) for y in x])

In [96]:
df.head()

,id,keyword,location,text,target,tokenized,stemmed
0,1,NaN,NaN,our deeds are the reason of this #earthquake m...,1,"[deeds, reason, earthquake, may, allah, forgiv...","[deed, reason, earthquak, may, allah, forgiv, us]"
1,4,NaN,NaN,forest fire near la ronge sask. canada,1,"[forest, fire, near, la, ronge, sask, canada]","[forest, fire, near, la, rong, sask, canada]"
2,5,NaN,NaN,all residents asked to 'shelter in place' are ...,1,"[residents, asked, shelter, place, notified, o...","[resid, ask, shelter, place, notifi, offic, ev..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"[13000, people, receive, wildfires, evacuation...","[13000, peopl, receiv, wildfir, evacu, order, ..."
4,7,NaN,NaN,just got sent this photo from ruby #alaska as ...,1,"[got, sent, photo, ruby, alaska, smoke, wildfi...","[got, sent, photo, rubi, alaska, smoke, wildfi..."

In [97]:
pos_index = {}
document = df["stemmed"]

In [98]:
my_dict = pd.Series(df.stemmed.values,index=df.id).to_dict()

In [99]:
my_dict[1]

['deed', 'reason', 'earthquak', 'may', 'allah', 'forgiv', 'us']

In [100]:
pos_ind = {}
fileno = 0
for key in my_dict:
    for i in range(len(my_dict[key])):
        term = my_dict[key][i]
        if term in pos_ind:
            pos_ind[term][0] = pos_ind[term][0] + 1
            if fileno in pos_ind[term][1]:
                pos_ind[term][1][fileno].append(key)
            else:
                pos_ind[term][1][fileno] = [key]
        else:
            pos_ind[term] = []
            pos_ind[term].append(1)
            pos_ind[term].append({}) 
            pos_ind[term][1][fileno] = [key]
        fileno += 1

In [101]:
#searching for a particular term
print(pos_ind["name"])

[30, {2835: [436], 6536: [959], 10416: [1540], 10654: [1582], 15055: [2195], 20486: [2969], 24035: [3472], 25147: [3610], 25376: [3639], 36564: [5179], 45566: [6398], 45570: [6398], 47080: [6603], 50572: [7112], 51004: [7169], 53574: [7555], 55241: [7784], 58733: [8279], 58742: [8279], 59786: [8452], 60189: [8526], 60447: [8581], 60451: [8581], 62083: [8815], 62418: [8875], 64753: [9207], 64913: [9225], 66002: [9384], 66097: [9402], 73576: [10478]}]

# Standard inverted index construction

In [102]:
my_list = df["stemmed"]
my_list[:5]

0    [deed, reason, earthquak, may, allah, forgiv, us]
1         [forest, fire, near, la, rong, sask, canada]
2    [resid, ask, shelter, place, notifi, offic, ev...
3    [13000, peopl, receiv, wildfir, evacu, order, ...
4    [got, sent, photo, rubi, alaska, smoke, wildfi...
Name: stemmed, dtype: object

In [103]:
words = []
for key in my_dict:
    for i in range(len(my_dict[key])):
        term = my_dict[key][i]
        words.append(term)
length = len(my_list)
inverted_index = {}
for i in range(length):
    check = my_list[i]
    for item in words:
        if item in check:
            if item not in inverted_index:
                inverted_index[item] = []
            if item in inverted_index:
                inverted_index[item].append(i+1)
for key in inverted_index:
    inverted_index[key] = list(set(inverted_index[key]))